**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate.backup
**/terraform.tfstate
logging/server.log
logs
logs/**
server.log
willette_api
andrewwillettedotcom
tmp
# creating traces, see https://go.dev/blog/execution-traces-2024
trace.out
traffic.db
