.navbar {
    list-style:none;
    padding-left: 0;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.navbar li {
    display: inline;
    padding: .7rem;
}

#keyofday-page {
    font-size: 4rem;
}

#personalImage {
    text-align: center;
    height: auto;
    width: 20%;
}
@media only screen and (max-device-width: 400px) {
    #personalImage {
        text-align: center;
        height: auto;
        width: 40%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #5F5B1A;
}

#music-page ul iframe {
    width: 80%;
    height: 5rem;
}

#music-page ul {
    padding: 0;
}

#copyright-clause {
    position: fixed; 
    bottom:0%;
    right:0%;
    font-size: 1rem;
}

#sheet-music-page li {
    font-size: 2rem;
    padding: 1rem;
}

#sheet-music-page ul {
    text-align: left;
    list-style-type: none;
    padding: 1rem;
}

#home-page {
    width: 100%;
}

#home-page p {
    width: 100%;
    font-size: 1.5rem;
}

main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: #d3869b;
}

body {
  background: #282828;
  color:      #ebdbb2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #b16286;
  background-color: #1d2021;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}

#blog-page ul {
    list-style-type: none;
}

#blog-page .blog-entry-li h2 {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem;
}

#blog-page .blog-entry-li p {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem;
}

#single-blog-page{
    padding: 2rem;
    padding-top: 0;
}

#single-blog-page p{
    line-height: 1.5rem;
}

.song-item {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.accent-image {
    text-align: center;
    margin-bottom: 10px;
}

.accent-image img {
    /* make the size look good relative to the audio player below using rem relation calc */
    width: 15rem;
    /* height: 2rem; */
    /* height: auto; */
    border-radius: 4px;
}

.audio-player {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 5rem;
}

.music-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Audio Player Container */
.audio-player-container {
    display: block;
    border: 2px solid #ddd;
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    float: none;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Title Styling */
.audio-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0 0 10px;
}

#music-page-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* max-width: 400px; */
}

/* for light mode support, commenting out because not crazy about colorscheme */
/* @media (prefers-color-scheme: light) { */
/*     body { */
/*         background: #fbf1c7; */
/*         color:      #3c3836; */
/*     } */

/*     pre { */
/*         background-color: #ebdbb2; */
/*         padding: 1em; */
/*         border: 0; */
/*     } */

/*     a, a:active, a:visited { */
/*         color: #b16286; */
/*         background-color: #f9f5d7; */
/*     } */

/*     h1, h2, h3, h4, h5 { */
/*         margin-bottom: .1rem; */
/*     } */

/*     blockquote { */
/*         border-left: 1px solid #655c54; */
/*         margin: 0.5em 10px; */
/*         padding: 0.5em 10px; */
/*     } */
/* } */
