{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>andrewwillette.com</title>
	<link rel="stylesheet" href="/static/main.css">
	<link rel="shortcut icon" href="https://andrewwillette.s3.us-east-2.amazonaws.com/newdir/illuminati.gif"/>
</head>
<body>
	<ul class="navbar">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/music">Recordings</a>
		</li>
		<li>
			<a href="/sheet-music">Sheet Music</a>
		</li>
		<li>
			<a href="/resume">CV</a>
		</li>
	</ul>
{{end}}
