{{define "content"}}
<div class="container">
    <img src="https://andrewwillette.s3.us-east-2.amazonaws.com/newdir/willette_photo_site.png" class="center" id="personalImage" alt="logo" />
    <div id="home-page" class="center">
        <p>
            Hi! My name is Andrew Willette. I am a software developer based in Madison, Wisconsin.
        </p>
        <p>
            I work as a consultant building software in the financial technology space and have been doing that since 2022. Prior to that, I worked on an Identity and Access Management team in the health care IT space.
        </p>
        <p>
            I like to play violin and host some recordings on my site here.
        </p>
    </div>
</div>
{{end}}
