{{define "musicpage"}}
{{template "header" -}}
<div class="container">
	<div id="music-page" class="center">
		<ul>
		{{range .Songs}}
			<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src={{.URL}}></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-434601011" title="Andrew Willette" target="_blank" style="color: #cccccc; text-decoration: none;">Andrew Willette</a> · <a href="https://soundcloud.com/user-434601011/swallowtail-jig" title={{.Title}} target="_blank" style="color: #cccccc; text-decoration: none;">{{.Title}}</a></div>
		{{end}}
		</ul>
		<div id="copyright-clause">© 2023 Andrew Willette. All rights reserved.</div>
	</div>
</div>
{{template "footer" -}}
{{end}}
