{{define "content"}}
<div class="music-container">
	<div id="music-page-new">
    {{ if . }}
        {{ range .Songs }}
            <div class="audio-player-container">
                <!-- <h2 class="audio-title">{{ .Name }}</h2> -->
				<div class="accent-image">
					<img src="{{ .ImageURL }}" alt="Audio Accent Image">
				</div>
                <audio controls class="audio-player">
                    <source src="{{ .AudioURL }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {{ end }}
    {{ else }}
        <p>No songs available.</p>
    {{ end }}
	</div>
</div>
<script>
// JavaScript to ensure only one audio player plays at a time
document.addEventListener("DOMContentLoaded", function() {
	const audioPlayers = document.querySelectorAll(".audio-player");

	audioPlayers.forEach((player) => {
		player.addEventListener("play", function() {
			// Pause all other audio players
			audioPlayers.forEach((otherPlayer) => {
				if (otherPlayer !== player) {
					otherPlayer.pause();
				}
			});
		});
	});
});
</script>
{{end}}
