{{define "musicpage"}}
{{template "header" -}}
<div class="container">
	<div id="music-page" class="center">
		<ul>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1353192850&color=%23e25862&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-434601011" title="Andrew Willette" target="_blank" style="color: #cccccc; text-decoration: none;">Andrew Willette</a> · <a href="https://soundcloud.com/user-434601011/raggedy-ann" title="Raggedy Ann" target="_blank" style="color: #cccccc; text-decoration: none;">Raggedy Ann</a></div>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1340417752&color=%237c643d&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-434601011" title="Andrew Willette" target="_blank" style="color: #cccccc; text-decoration: none;">Andrew Willette</a> · <a href="https://soundcloud.com/user-434601011/leather-britches" title="Leather Britches" target="_blank" style="color: #cccccc; text-decoration: none;">Leather Britches</a></div>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1299581302&color=%23e25862&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-434601011" title="Andrew Willette" target="_blank" style="color: #cccccc; text-decoration: none;">Andrew Willette</a> · <a href="https://soundcloud.com/user-434601011/carrol-county-blues" title="Carrol County Blues" target="_blank" style="color: #cccccc; text-decoration: none;">Carrol County Blues</a></div>
		</ul>
	</div>
</div>
{{template "footer" -}}
{{end}}
