{{define "sheetmusicpage"}}
{{template "header" -}}
<div class="container">
	<div id="sheet-music-page" class="center">
		<ul>
		{{range .Sheets}}
			<li><a href="{{.URL}}">{{.Name}}</a></li>
		{{end}}
		</ul>
	</div>
</div>
{{template "footer" -}}
{{end}}
