{{define "content"}}
<div class="container">
	<div id="sheet-music-page" class="center">
		<div id="sheet-music-description">
		I often learn fiddle tunes by transcribing recordings I like. Some are my own efforts at arrangement. I share a bunch of those transcriptions below, I hope they might be useful to someone!
		</div>
		<ul>
		{{range .Sheets}}
			<li><a href="{{.DropboxURL}}">{{.DisplayName}}</a></li>
		{{end}}
		</ul>
	</div>
</div>
{{end}}
