{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>andrewwillette.com</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/main.css">
</head>
<body class="center">
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
     <a href="/music">Music</a>
    </li>
    <li>
      <a href="/resume">CV</a>
    </li>
  </ul>
{{end}}
