{{define "homepage"}}
{{template "header" -}}
<div class="container">
	<img src="https://andrewwillette.s3.us-east-2.amazonaws.com/newdir/website_photo_2.jpeg" class="center" id="personalImage" alt="logo" />
	<div id="home-page" class="center">
		<p>
			Hi! My name is Andrew Willette. I am a software developer based in Madison, Wisconsin.
		</p>
		<p>
			I like playing violin and host some recordings on my site here.
		</p>
	</div>
</div>
{{template "footer" -}}
{{end}}
